# 1.20
The built-in data set islands contains the size of the world’s land masses that exceed 10,000 square miles. Use sort() with the argument decreasing=TRUE to find the seven largest land masses.

In [230]:
a <- sort(islands, decreasing = TRUE)[1:7]
print(a)

         Asia        Africa North America South America    Antarctica
        16988         11506          9390          6795          5500
       Europe     Australia
         3745          2968

# 1.21 
Load the data set primes (UsingR).

In [6]:
install.packages("UsingR")

Warning message:
"package 'UsingR' is in use and will not be installed"

This is the set of prime numbers in [1,2003]. How many are there?

In [8]:
library(UsingR)
PrimeData <- primes
length(PrimeData)

[1] 304

How many in the range [1,100]?

In [9]:
length(PrimeData[PrimeData <= 100])

[1] 25

[100,1000]?

In [10]:
length(PrimeData[PrimeData >= 100 & PrimeData <= 1000])

[1] 143

# 1.22 
Load the data set primes (UsingR). We wish to find all the twin primes. These are numbers p and p+2, where both are prime.
1. Explain what primes[−1] returns.

In [12]:
# PrimeData[-1] returns all the values of PrimeData without the first element. 
head(PrimeData[-1])

[1]  3  5  7 11 13 17

2. If you set n=length (primes), explain what primes[−n] returns.

In [229]:
# The PrimeData[-n] returns all the values of PrimeData without the last element. 

n <- length(primes)
print(primes[-n])

  [1]    2    3    5    7   11   13   17   19   23   29   31   37   41   43   47
 [16]   53   59   61   67   71   73   79   83   89   97  101  103  107  109  113
 [31]  127  131  137  139  149  151  157  163  167  173  179  181  191  193  197
 [46]  199  211  223  227  229  233  239  241  251  257  263  269  271  277  281
 [61]  283  293  307  311  313  317  331  337  347  349  353  359  367  373  379
 [76]  383  389  397  401  409  419  421  431  433  439  443  449  457  461  463
 [91]  467  479  487  491  499  503  509  521  523  541  547  557  563  569  571
[106]  577  587  593  599  601  607  613  617  619  631  641  643  647  653  659
[121]  661  673  677  683  691  701  709  719  727  733  739  743  751  757  761
[136]  769  773  787  797  809  811  821  823  827  829  839  853  857  859  863
[151]  877  881  883  887  907  911  919  929  937  941  947  953  967  971  977
[166]  983  991  997 1009 1013 1019 1021 1031 1033 1039 1049 1051 1061 1063 1069
[181] 1087 1091 1093 1097 1103 1109 1117 1123 1129 1151 1153 1163 1171 1181 1187
[196] 1193 1201 1213 1217 1223 1229 1231 1237 1249 1259 1277 1279 1283 1289 1291
[211] 1297 1301 1303 1307 1319 1321 1327 1361 1367 1373 1381 1399 1409 1423 1427
[226] 1429 1433 1439 1447 1451 1453 1459 1471 1481 1483 1487 1489 1493 1499 1511
[241] 1523 1531 1543 1549 1553 1559 1567 1571 1579 1583 1597 1601 1607 1609 1613
[256] 1619 1621 1627 1637 1657 1663 1667 1669 1693 1697 1699 1709 1721 1723 1733
[271] 1741 1747 1753 1759 1777 1783 1787 1789 1801 1811 1823 1831 1847 1861 1867
[286] 1871 1873 1877 1879 1889 1901 1907 1913 1931 1933 1949 1951 1973 1979 1987
[301] 1993 1997 1999

3. Why might primes [−1]—primes [−n] give clues as to what the twin primes are?

In [35]:
# The result is the subtraction of the two datasets and results in the distance between respective primes elements.
# Since the distances can sometimes be equal, the resuslt of two differences can be the same resulting in twin primes where
# differences equals 2.

print(primes[-1] - primes[−n])

  [1]  1  2  2  4  2  4  2  4  6  2  6  4  2  4  6  6  2  6  4  2  6  4  6  8  4
 [26]  2  4  2  4 14  4  6  2 10  2  6  6  4  6  6  2 10  2  4  2 12 12  4  2  4
 [51]  6  2 10  6  6  6  2  6  4  2 10 14  4  2  4 14  6 10  2  4  6  8  6  6  4
 [76]  6  8  4  8 10  2 10  2  6  4  6  8  4  2  4 12  8  4  8  4  6 12  2 18  6
[101] 10  6  6  2  6 10  6  6  2  6  6  4  2 12 10  2  4  6  6  2 12  4  6  8 10
[126]  8 10  8  6  6  4  8  6  4  8  4 14 10 12  2 10  2  4  2 10 14  4  2  4 14
[151]  4  2  4 20  4  8 10  8  4  6  6 14  4  6  6  8  6 12  4  6  2 10  2  6 10
[176]  2 10  2  6 18  4  2  4  6  6  8  6  6 22  2 10  8 10  6  6  8 12  4  6  6
[201]  2  6 12 10 18  2  4  6  2  6  4  2  4 12  2  6 34  6  6  8 18 10 14  4  2
[226]  4  6  8  4  2  6 12 10  2  4  2  4  6 12 12  8 12  6  4  6  8  4  8  4 14
[251]  4  6  2  4  6  2  6 10 20  6  4  2 24  4  2 10 12  2 10  8  6  6  6 18  6
[276]  4  2 12 10 12  8 16 14  6  4  2  4  2 10 12  6  6 18  2 16  2 22  6  8  6
[301]  4  2  4

How many twin primes are there in the data set?

In [36]:
# Finding the count of twin primes by summing the count of 2's in the resulting subtraction of primes
print(sum(primes[-1] - primes[−n]==2))

[1] 61

# 1.23 
For the data set treering, which contains tree-ring widths in dimension-less units, use an R function to answer the following:
1. How many observations are there?

In [38]:
data <- treering
length(data)

[1] 7980

2. Find the smallest observation.

In [40]:
min(data)

[1] 0

3. Find the largest observation.

In [43]:
max(data)

[1] 1.908

4. How many are bigger than 1.5?

In [46]:
length(data[data > 1.5])

[1] 219

# 1.24 
The data set mandms (UsingR) contains the targeted color distribution in a bag of M&Ms as percentages for varies types of packaging. Answer these questions.
1. Which packaging is missing one of the six colors?

In [92]:
data <- mandms
print(data)
x  <- names(which(rowSums(data==0)==1))
x

                  blue   brown   green  orange     red  yellow
milk chocolate 10.0000 30.0000 10.0000 10.0000 20.0000 20.0000
Peanut         20.0000 20.0000 10.0000 10.0000 20.0000 20.0000
Peanut Butter  20.0000 20.0000 20.0000  0.0000 20.0000 20.0000
Almond         16.6667 16.6667 16.6667 16.6667 16.6667 16.6667
kid minis      16.6667 16.6667 16.6667 16.6667 16.6667 16.6667

[1] "Peanut Butter"

2. Which types of packaging have an equal distribution of colors?

In [102]:
mean <- apply(data,1,mean)
print(data - mean)
names(which(rowSums(data - mean)==0))

                    blue     brown     green     orange      red   yellow
milk chocolate -6.666667 13.333333 -6.666667  -6.666667 3.333333 3.333333
Peanut          3.333333  3.333333 -6.666667  -6.666667 3.333333 3.333333
Peanut Butter   3.333333  3.333333  3.333333 -16.666667 3.333333 3.333333
Almond          0.000000  0.000000  0.000000   0.000000 0.000000 0.000000
kid minis       0.000000  0.000000  0.000000   0.000000 0.000000 0.000000

[1] "Almond"    "kid minis"

3. Which packaging has a single color that is more likely than all the others?

In [112]:
maxColor <- max(data)
names(which(rowSums(data == maxColor)==1))

[1] "milk chocolate"

What color is this?

In [113]:
names(which(colSums(data == maxColor)==1))

[1] "brown"

# 1.25 
The t imes variable in the data set nym. 2002 (UsingR) contains the time to finish for several participants in the 2002 New York City Marathon. Answer these questions.
1. How many times are stored in the data set?

In [123]:
data <- nym.2002
times <- data$time
length(times)

[1] 1000

2. What was the fastest time in minutes? Convert this into hours and minutes using R.

In [172]:
convert_sec_to_time <- function(time) {
    whole = floor(time)
    fraction = round((time - whole) * 60)
    sprintf("%1$d:%2$d", whole, fraction)
}

In [179]:
fastTime <- min(times)
fastTime

[1] 147.3333

In [180]:
minFastTime <- fastTime / 60
convert_sec_to_time(minFastTime)

[1] "2:27"

3. What was the slowest time in minutes? Convert this into hours and minutes using R.

In [181]:
slowTime <- max(times)
slowTime

[1] 566.7833

In [183]:
minSlowTime <- slowTime / 60
convert_sec_to_time(minSlowTime)

[1] "9:27"

# 1.26 
For the data set rivers, which is the longest river?

In [185]:
data <- rivers
max(data)

[1] 3710

The shortest?

In [187]:
min(data)

[1] 135

# 1.27 
The data set uspop contains decade-by-decade population figures for the United States from 1790 to 1970.
1. Use names() and seq() to add the year names to the data vector.

In [192]:
data <- uspop
names(data) <- seq(1790,1970,10)
print(data)

Time Series:
Start = 1790
End = 1970
Frequency = 0.1
  1790   1800   1810   1820   1830   1840   1850   1860   1870   1880   1890
  3.93   5.31   7.24   9.64  12.90  17.10  23.20  31.40  39.80  50.20  62.90
  1900   1910   1920   1930   1940   1950   1960   1970
 76.00  92.00 105.70 122.80 131.70 151.30 179.30 203.20

2. Use diff() to find the inter-decade differences.

In [212]:
intDec <- diff(data)
print(intDec)

Time Series:
Start = 1800
End = 1970
Frequency = 0.1
 [1]  1.38  1.93  2.40  3.26  4.20  6.10  8.20  8.40 10.40 12.70 13.10 16.00
[13] 13.70 17.10  8.90 19.60 28.00 23.90

 Which decade had the greatest increase?

In [228]:
x <- data[(which.max(intDec))]
y <- data[which.max(diff(intDec))+1]
x
y

 1950
151.3

 1940
131.7

3. Explain why you could reasonably expect that the difference will always increase with each decade. Is this the case with the data?

It can be expected that the difference will always be increasing, as shown in the data from 1790 to 1970 because of increaing global econamy, and technological advancements aimed at prolonging the global population over time.