# Problem 1

In [1]:
# 1)
# ?rep: rep(x, times, length.out = NA, each)

rep(2:6, each = 2)

 [1] 2 2 3 3 4 4 5 5 6 6

In [2]:
# 2)
# ?seq: seq(from, to, by, along.with)

seq(3, 16, by=3)

[1]  3  6  9 12 15

In [3]:
# 3)
# order(..., na.last, decreasing, method = c("auto", "shell", "radix"))

order(10:1, decreasing = T)

 [1]  1  2  3  4  5  6  7  8  9 10

# Problem 2

In [4]:
sex = c(1,1,1,1,1,1,2,2,2,2); 
graduate = c(1,0,1,0,1,0,0,0,0,1); 
score=c(9:1, NA);

zz = data.frame(sex, graduate, score);
zz

   sex graduate score
1  1   1         9
2  1   0         8
3  1   1         7
4  1   0         6
5  1   1         5
6  1   0         4
7  2   0         3
8  2   0         2
9  2   0         1
10 2   1        NA

In [5]:
# 1) 
# table uses the cross-classifying factors to build a contingency table (frequency table)

table(zz[,"graduate"])

0 1
6 4

In [6]:
# 2)
# apply(X, MARGIN (for a matrix 1 indicates rows, 2 indicates columns, c(1, 2)), FUN, ...) 

apply(zz[-1,],2,min)

     sex graduate    score
       1        0       NA

In [7]:
# 3)

zz[zz[,3]>6,]

   sex graduate score
1   1   1        9
2   1   0        8
3   1   1        7
NA NA  NA       NA

In [8]:
# 4)
# Determines the location, i.e., index of the (first) minimum or maximum of a numeric (or logical) vector.

which.min(zz$score) # 9th index is NA so 9 is returned

[1] 9

In [9]:
# 5)

zz[order(zz["sex"], zz["score"]), ]

   sex graduate score
6  1   0         4
5  1   1         5
4  1   0         6
3  1   1         7
2  1   0         8
1  1   1         9
9  2   0         1
8  2   0         2
7  2   0         3
10 2   1        NA

In [10]:
subset(zz, zz["graduate"] == 1)

   sex graduate score
1  1   1         9
3  1   1         7
5  1   1         5
10 2   1        NA

| Arguments             | Objective                                         | Input                      | Output              |
|-----------------------|---------------------------------------------------|----------------------------|---------------------|
| apply(X, MARGIN, FUN) | Apply a function to the rows or columns or both   | Data frame or matrix       | vector, list, array |
| lapply(X, FUN)        | Apply a function to all the elements of the input | List, vector or data frame | list                |
| sapply(X FUN)         | Apply a function to all the elements of the input | List, vector or data frame | vector or matrix    |
| tapply(X, INDEX, FUN = NULL) |computes a measure (mean, median, min, max, etc..) or a function for each factor variable in a vector   | Data frame or matrix or subset       | vector, list, array |

In [11]:
# 7)

tapply(zz$score, zz$sex, mean, na.rm=T)

  1   2
6.5 2.0

In [12]:
# 8)

apply(zz[-8, ], 1, function(x){ sum(x) })

 1  2  3  4  5  6  7  9 10
11  9  9  7  7  5  5  3 NA

# Problem 3

In [13]:
mylist=list(sex = c(1,1,1,1,2,2,2,2,2,2), smoking = c(1,0,1,0,1,0,0,0,1,1), age=c(21:30));
mylist

$sex
 [1] 1 1 1 1 2 2 2 2 2 2

$smoking
 [1] 1 0 1 0 1 0 0 0 1 1

$age
 [1] 21 22 23 24 25 26 27 28 29 30

In [14]:
# 1)

length(mylist)

[1] 3

In [15]:
# 2)

lapply(mylist, function(kk){ kk*2 })

$sex
 [1] 2 2 2 2 4 4 4 4 4 4

$smoking
 [1] 2 0 2 0 2 0 0 0 2 2

$age
 [1] 42 44 46 48 50 52 54 56 58 60

In [16]:
# 3)

sapply(mylist, min)

    sex smoking     age
      1       0      21

In [17]:
# 4)

(mylist$sex - mylist$smoking)^3

 [1] 0 1 0 1 1 8 8 8 1 1

# Problem 4

In [18]:
zz = matrix(c(c(1,2,NA), c(3,4,5), 6:9), nrow=2, ncol=5, byrow = TRUE)
zz

apply(zz, 2, sum, na.rm=TRUE)
apply(zz, 1, mean, na.rm=TRUE)

     [,1] [,2] [,3] [,4] [,5]
[1,] 1    2    NA   3    4
[2,] 5    6     7   8    9

[1]  6  8  7 11 13

[1] 2.5 7.0

# Problem 5

In [19]:
data(mtcars)
mtcars = mtcars[4:10,]
mtcars

temp = mtcars[, c('vs', 'gear')]

                  mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Hornet 4 Drive    21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360.0 175 3.15 3.440 17.02 0  0  3    2
Valiant           18.1 6   225.0 105 2.76 3.460 20.22 1  0  3    1
Duster 360        14.3 8   360.0 245 3.21 3.570 15.84 0  0  3    4
Merc 240D         24.4 4   146.7  62 3.69 3.190 20.00 1  0  4    2
Merc 230          22.8 4   140.8  95 3.92 3.150 22.90 1  0  4    2
Merc 280          19.2 6   167.6 123 3.92 3.440 18.30 1  0  4    4

In [20]:
# a)

library(reshape2)

m_temp = melt(temp)
m_temp

No id variables; using all as measure variables

   variable value
1  vs       1
2  vs       0
3  vs       1
4  vs       0
5  vs       1
6  vs       1
7  vs       1
8  gear     3
9  gear     3
10 gear     3
11 gear     3
12 gear     4
13 gear     4
14 gear     4

In [34]:
library(dplyr)

m_temp = melt(temp)
grp = group_by(m_temp, variable)
print(summarise(grp, m1=sum(value), m2=n()))

No id variables; using all as measure variables

# A tibble: 2 x 3
  variable    m1    m2
  <fct>    <dbl> <int>
1 vs           5     7
2 gear        24     7

# Problem 6

In [36]:
# a)

sd <- function(x) {
    n = length(x)
    m = mean(x)
    if(n == 1) {
        return(NA)
    } else {
        sum <- 0
        for(i in 1:n){
            sum <- sum + ((x[i] - m)^2)
        }
        sum <- sqrt((1/(n-1))* sum)
        return(sum)
    }
}
sd(1)
sd(1:10)
sd(c(1,1,1,1,1,1))

[1] NA

[1] 3.02765

[1] 0

In [92]:
# b)

Merge <- function(s1, s2) { 
    i <- 1
    j <- 1
    k <- 1
    out <- c()
    
    while(j <= length(s1) & k <= length(s2)) {
        if(s1[j] <= s2[k]) {
            out[i] <- s1[j]
            j <- j + 1
            i <- i + 1
        } else {
            out[i] <- s2[k]
            k <- k + 1
            i <- i + 1
        }
    }
    while(j <= length(s1)){
        out[i] <- s1[j]
        j <- j + 1
        i <- i + 1
    }
    while(k <= length(s2)){
        out[i] <- s2[k]
        k <- k + 1
        i <- i + 1
    }
    return(out)
}

S1 = c(1,3,5,7)
S2 = c(2,4,6,10)
Merge(S1, S2)

[1]  1  2  3  4  5  6  7 10

In [96]:
fib <- function(n) {
  if (n == 0) {
    return(0)
  } else if (n == 1) {
    return(1)
  } else if (n > 1) {
    current <- 0
    old <- 1
    for (i in seq (0, n)) {
      out <- current
      current <- current + old
      old <- out
    }
  }
  return(out)
}

print(fib(1))
print(fib(2))
print(fib(100))

[1] 1
[1] 1
[1] 3.542248e+20

In [105]:
fib <- function(n) {
    tot <- 0
    while(tot <= n) {
        current <- 0
        old <- 1
        x <- 0
        for (i in seq (0, x)) {
          out <- current
          current <- current + old
          old <- out
        }
        x = x + 1
        tot = tot + out
    }
    return(tot)
}

print(fib(1))
print(fib(2))
print(fib(100))