# 1

In [2]:
100^3 + 200^4 * (2+13) + 5+ 2^10

[1] 2.4001e+10

In [4]:
(1+ ((2+3)/(2*3))^3)^(1/5)

[1] 1.09562

In [8]:
exp(1)^(log(log(2)))^3

[1] 0.951958

# 2

In [102]:
print(c(rep(c('a','b'),c(50,100))))

  [1] "a" "a" "a" "a" "a" "a" "a" "a" "a" "a" "a" "a" "a" "a" "a" "a" "a" "a"
 [19] "a" "a" "a" "a" "a" "a" "a" "a" "a" "a" "a" "a" "a" "a" "a" "a" "a" "a"
 [37] "a" "a" "a" "a" "a" "a" "a" "a" "a" "a" "a" "a" "a" "a" "b" "b" "b" "b"
 [55] "b" "b" "b" "b" "b" "b" "b" "b" "b" "b" "b" "b" "b" "b" "b" "b" "b" "b"
 [73] "b" "b" "b" "b" "b" "b" "b" "b" "b" "b" "b" "b" "b" "b" "b" "b" "b" "b"
 [91] "b" "b" "b" "b" "b" "b" "b" "b" "b" "b" "b" "b" "b" "b" "b" "b" "b" "b"
[109] "b" "b" "b" "b" "b" "b" "b" "b" "b" "b" "b" "b" "b" "b" "b" "b" "b" "b"
[127] "b" "b" "b" "b" "b" "b" "b" "b" "b" "b" "b" "b" "b" "b" "b" "b" "b" "b"
[145] "b" "b" "b" "b" "b" "b"

In [103]:
print(seq(2,1000,2))

  [1]    2    4    6    8   10   12   14   16   18   20   22   24   26   28   30
 [16]   32   34   36   38   40   42   44   46   48   50   52   54   56   58   60
 [31]   62   64   66   68   70   72   74   76   78   80   82   84   86   88   90
 [46]   92   94   96   98  100  102  104  106  108  110  112  114  116  118  120
 [61]  122  124  126  128  130  132  134  136  138  140  142  144  146  148  150
 [76]  152  154  156  158  160  162  164  166  168  170  172  174  176  178  180
 [91]  182  184  186  188  190  192  194  196  198  200  202  204  206  208  210
[106]  212  214  216  218  220  222  224  226  228  230  232  234  236  238  240
[121]  242  244  246  248  250  252  254  256  258  260  262  264  266  268  270
[136]  272  274  276  278  280  282  284  286  288  290  292  294  296  298  300
[151]  302  304  306  308  310  312  314  316  318  320  322  324  326  328  330
[166]  332  334  336  338  340  342  344  346  348  350  352  354  356  358  360
[181]  362  364  366  368  370  372  374  376  378  380  382  384  386  388  390
[196]  392  394  396  398  400  402  404  406  408  410  412  414  416  418  420
[211]  422  424  426  428  430  432  434  436  438  440  442  444  446  448  450
[226]  452  454  456  458  460  462  464  466  468  470  472  474  476  478  480
[241]  482  484  486  488  490  492  494  496  498  500  502  504  506  508  510
[256]  512  514  516  518  520  522  524  526  528  530  532  534  536  538  540
[271]  542  544  546  548  550  552  554  556  558  560  562  564  566  568  570
[286]  572  574  576  578  580  582  584  586  588  590  592  594  596  598  600
[301]  602  604  606  608  610  612  614  616  618  620  622  624  626  628  630
[316]  632  634  636  638  640  642  644  646  648  650  652  654  656  658  660
[331]  662  664  666  668  670  672  674  676  678  680  682  684  686  688  690
[346]  692  694  696  698  700  702  704  706  708  710  712  714  716  718  720
[361]  722  724  726  728  730  732  734  736  738  740  742  744  746  748  750
[376]  752  754  756  758  760  762  764  766  768  770  772  774  776  778  780
[391]  782  784  786  788  790  792  794  796  798  800  802  804  806  808  810
[406]  812  814  816  818  820  822  824  826  828  830  832  834  836  838  840
[421]  842  844  846  848  850  852  854  856  858  860  862  864  866  868  870
[436]  872  874  876  878  880  882  884  886  888  890  892  894  896  898  900
[451]  902  904  906  908  910  912  914  916  918  920  922  924  926  928  930
[466]  932  934  936  938  940  942  944  946  948  950  952  954  956  958  960
[481]  962  964  966  968  970  972  974  976  978  980  982  984  986  988  990
[496]  992  994  996  998 1000

In [104]:
print(rep(100:1, each=2))

  [1] 100 100  99  99  98  98  97  97  96  96  95  95  94  94  93  93  92  92
 [19]  91  91  90  90  89  89  88  88  87  87  86  86  85  85  84  84  83  83
 [37]  82  82  81  81  80  80  79  79  78  78  77  77  76  76  75  75  74  74
 [55]  73  73  72  72  71  71  70  70  69  69  68  68  67  67  66  66  65  65
 [73]  64  64  63  63  62  62  61  61  60  60  59  59  58  58  57  57  56  56
 [91]  55  55  54  54  53  53  52  52  51  51  50  50  49  49  48  48  47  47
[109]  46  46  45  45  44  44  43  43  42  42  41  41  40  40  39  39  38  38
[127]  37  37  36  36  35  35  34  34  33  33  32  32  31  31  30  30  29  29
[145]  28  28  27  27  26  26  25  25  24  24  23  23  22  22  21  21  20  20
[163]  19  19  18  18  17  17  16  16  15  15  14  14  13  13  12  12  11  11
[181]  10  10   9   9   8   8   7   7   6   6   5   5   4   4   3   3   2   2
[199]   1   1

In [105]:
print(rep(100:1, times=2))

  [1] 100  99  98  97  96  95  94  93  92  91  90  89  88  87  86  85  84  83
 [19]  82  81  80  79  78  77  76  75  74  73  72  71  70  69  68  67  66  65
 [37]  64  63  62  61  60  59  58  57  56  55  54  53  52  51  50  49  48  47
 [55]  46  45  44  43  42  41  40  39  38  37  36  35  34  33  32  31  30  29
 [73]  28  27  26  25  24  23  22  21  20  19  18  17  16  15  14  13  12  11
 [91]  10   9   8   7   6   5   4   3   2   1 100  99  98  97  96  95  94  93
[109]  92  91  90  89  88  87  86  85  84  83  82  81  80  79  78  77  76  75
[127]  74  73  72  71  70  69  68  67  66  65  64  63  62  61  60  59  58  57
[145]  56  55  54  53  52  51  50  49  48  47  46  45  44  43  42  41  40  39
[163]  38  37  36  35  34  33  32  31  30  29  28  27  26  25  24  23  22  21
[181]  20  19  18  17  16  15  14  13  12  11  10   9   8   7   6   5   4   3
[199]   2   1

# 3

In [43]:
x <- c(0.2, 11.7, 2.8, 1.0, 1.2, 11.7, 5.8, 9.1, 4.5)

In [44]:
min(x)

[1] 0.2

In [45]:
max(x)

[1] 11.7

In [46]:
x - 6

[1] -5.8  5.7 -3.2 -5.0 -4.8  5.7 -0.2  3.1 -1.5

In [48]:
mean(x)

[1] 5.333333

In [49]:
sum(x)

[1] 48

In [54]:
x[length(x)]

[1] 4.5

In [55]:
max(x) - min(x)

[1] 11.5

In [57]:
x[length(x):0]

[1]  4.5  9.1  5.8 11.7  1.2  1.0  2.8 11.7  0.2

In [58]:
x[1:3]^2

[1]   0.04 136.89   7.84

In [64]:
x[x>3]
x[x>3] > 5

[1] 11.7 11.7  5.8  9.1  4.5

[1]  TRUE  TRUE  TRUE  TRUE FALSE

In [74]:
which(x[-1]>10)-1

[1] 0 4

# 4

In [75]:
x=c(2,4,6,8,9)
y=c(2,3,5,7,13)

In [81]:
x[1]^(x[3]/2)^x[1]

2^(6/2)^2

[1] 512

[1] 512

In [82]:
x^2-y

[1]  2 13 31 57 68

In [86]:
y[x]
y[x] + x

[1]  3  7 NA NA NA

[1]  5 11 NA NA NA

In [90]:
x<5
x>2
sum(x<5 | x>2)

[1]  TRUE  TRUE FALSE FALSE FALSE

[1] FALSE  TRUE  TRUE  TRUE  TRUE

[1] 5

In [95]:
x>5
x[x>5]
sum(x[x>5])

[1] FALSE FALSE  TRUE  TRUE  TRUE

[1] 6 8 9

[1] 23

# 5

In [96]:
zz=matrix( c( c(1,2,NA), seq(7, 4), rep(4, 5) ), 4, 3 )

In [97]:
zz

     [,1] [,2] [,3]
[1,]  1   6    4
[2,]  2   5    4
[3,] NA   4    4
[4,]  7   4    4

In [100]:
zz[zz[,2]<5,]

     [,1] [,2] [,3]
[1,] NA   4    4
[2,]  7   4    4

In [101]:
vec <- c(zz[2,],zz[3,], zz[4,]); print(vec)

[1]  2  5  4 NA  4  4  7  4  4